body{
    background-color: #454552;
}

.header{
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
}
.header a{
    float: left;
    display: inline-block;
    color:#4ea1d3;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 5px;
}
.header a:hover{
    background-color:  #454552;
    color: #e85a71;
}
.header a.active{
    background-color:  #454552;
    color: #4ea1d3;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
}


@media  and (max-width:500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.button{
    background-color: #fbd14b;
    border: #000000;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: crosshair;
    padding: 15px 15px;
    border-radius: 8px;
}

.headerMp{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #4ea1d3;
    font-family: 'Felix Titling';
}
.pMp {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    color: #fbd14b;
    font-family: 'Felix Titling';
}
.regularText {
    color: #4ea1d3;
    font-family: 'Felix Titling';
}